body {
  background-color: black;
}
div {
  margin-top: 100px;
  width: 50%;
  margin-left: 25%;
  color: white;
  text-align: center;
}
h1 {
  font-family: "Libre Baskerville";
}

img {
  border: 5px solid white;
  width: 100%;
}
